# MongoDB Atlas Configuration
MONGO_USERNAME=your_mongo_username
MONGO_PASSWORD=your_mongo_password
MONGO_HOST=your_mongo_host.mongodb.net-or-localhost
MONGO_APP_NAME=your_app_name
MONGO_DATABASE=your_database_name

# Redis Configuration
REDIS_PASSWORD=your_redis_password

# RabbitMQ Configuration
RABBITMQ_USERNAME=spring_app
RABBITMQ_PASSWORD=random_password

# Hetzner Object Storage (S3-compatible)
STORAGE_ENDPOINT=https://nbg1.your-objectstorage.com
STORAGE_REGION=eu-central
STORAGE_BUCKET=your_bucket_name
STORAGE_ACCESS_KEY=your_access_key
STORAGE_SECRET_KEY=your_secret_key

# Default User Credentials
PROCAR_DEFAULT_USER_USERNAME=admin
PROCAR_DEFAULT_USER_PASSWORD=admin

