.idea/
.gradle/
gradle/
.kotlin/
build/
*/build/*
.vscode/
*.class
*/out/test/*
*/out/production/*
auction-provider-procar/target/
**/frontend/generated/**
/admin-ui/src/main/frontend/
/admin-ui/generated/
/admin-ui/target/

# vaadin generates those 2
/src/
/target/

# Environment files
.env

kotlin-js-store/
.documents/